html {
    box-sizing: border-box;
  }

  body {
    /* background: rgb(180, 173, 185); */
    background-color: rgb(17, 100, 68);
    margin: 0px;
    display: flex;
    flex-direction:column;
    font-family: 'Kanit', sans-serif; 
  }

  #navbar {
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(176, 243, 217);
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }

  #navbar > a {
    text-decoration: none;
    padding: 20px;
    color: rgb(17, 100, 68);
    font-size: 1.5rem;
  }

  #navbar > a:hover{
      background-color: rgb(9, 87, 39);
      color: white;
  }
  #im{
    width: 800px;
    height: 800px;
    opacity: 20%;
  }

  .hw {
    position: absolute;
  top: 30%;
  left: auto;
  right: auto;
  transform: translate(-50%, -50%);
    color: rgb(14, 125, 189);
    max-width: 40ch;
    /* height: 100%; */
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 5s infinite;
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(19){
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  #projects {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
    padding-bottom: 40px;
    background: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
  }

  #projects > a {
    text-decoration: none;
    cursor: pointer;
    color: forestgreen;
  }

  .project-title {
    display: flex;
    margin: 25px;
    padding:20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    max-width: auto;
    height: auto;
    box-shadow: 0px 10px 10px green;
  }
.project-title:hover{
  -webkit-filter: hue-rotate(36deg);
    filter: hue-rotate(36deg);
    -webkit-transform: translate(2.5%, 10%);
    transform: translate(2.5%, 10%);
}
   img {
    width: 400px;
    height: 100%;
  } 

  .caption {
    color: Black;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: lightblue;
    padding: 20px;
  }
  .caption:hover{
      color: green;
      background-color: cornsilk;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
  }

  #welcome-section > p {
    font-size: 1.8rem;
  }
  .ph1{
    text-shadow: 2px 2px 2px black;
    color: rgb(11, 157, 241);
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-color: rgb(176, 243, 217);
    color: white;
    align-items: center;
    justify-content: center;
    
  }
.im{
  width: 700px;
  height: 700px;
}
  h2 {
      text-align: center;
      color: white;
  }
  
.about{
    box-shadow: 5px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: auto;
    width: 60%;
    border: 1px solid #73AD21;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgb(238, 179, 139);
}
.aboutimg{
    /* border-radius: 100%; */
    height: 200px;
    width: 200px;
    padding-left: 30%;
}
.ab1{
  color: rgb(80, 77, 133);
  text-shadow: none;
}
.skill{
  color: white;
  font-size: 20px;
}


.footer{
  
    background-color: rgb(176, 243, 217);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: rgb(17, 100, 68);
  font-weight: 800;
  padding: 20px;
  text-decoration: none;
}

/* resume */

.body{
    background-color: rgb(221, 226, 221);
    border: 5px solid rgb(3, 8, 3);
    padding-left: 10px;

}

.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para {
    color: black;
    text-shadow: none;
}
.add {
    color: black;
    text-shadow: none;
    text-align: center;
}
.heading{
    color: black;
    text-shadow: none;
}
.role{
    color: black;
}
.add > a {
  text-decoration: none;
  color: black;
}
.add > a:hover {
  color: blue;
}
.skill{
  background-color: rgb(248, 242, 242);
  padding: 3% 25%;
}
.skill>i{
  margin: 40px;
  border-bottom: 20%;
  width: 100%;
  height: 100%;
  font-size: 100px;
  
}

